<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - AllStar Score</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/themes/base/jquery-ui.css" media="all" />
        @{ Html.RegisterStylesheet("~/content/styles/normalize.css", "global"); }
        @{ Html.RegisterStylesheet("~/content/styles/jquery.notify.css", "global"); }
@*        @{ Html.RegisterStylesheet("~/content/styles/tablesorter.themes/blue/style.css", "global"); }*@
        
        @*my stuff below*@
        @{ Html.RegisterStylesheet("~/content/styles/site.css", "global"); }
        @{ Html.RegisterStylesheet("~/content/styles/global.css", "global"); }
        <link rel="stylesheet" href="~/content/styles/site.mobile.css" media="all" />

        @Html.RenderCss()
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Competitions", "Index", "Competition")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Executive Closing, Inc.</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
@*        @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()*@

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
@*        <script src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>*@
@*        <script src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>*@
        
        @{ Html.RegisterScript("~/content/scripts/lib/jquery.notify.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/lib/knockout-2.1.0.debug.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/lib/knockout.mapping-latest.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/lib/jquery.tablesorter.min.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/lib/date.js", "global"); }
        
        @*my stuff below*@
        @{ Html.RegisterScript("~/content/scripts/global.knockout.bindings.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/global.tinypubsub.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/global.ajax.js", "global"); }
        @{ Html.RegisterScript("~/content/scripts/global.datepicker.js", "global"); }
        
        @Html.RenderScripts()
    </body>
</html>
