@model AllStarScore.Admin.ViewModels.RegistrationTeamsViewModel

@{ Html.RegisterStylesheet("~/content/styles/registration.teams.css"); }
@{ Html.RegisterScript("~/content/scripts/registration.teams.js"); }


@using (Ajax.BeginForm("Teams", "Registration", new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "registered_teams" }))
{
    <fieldset>
    <input type="hidden" id="CompetitionId" value="@Model.CompetitionId" />
    <input type="hidden" id="GymId" value="@Model.GymId" />
                
    <input type="submit" value="Register Team"/>
    </fieldset>
}


<form action='/someServerSideHandler' id="foo">
    <button data-bind='click: addGift'>Add Gift</button>
    <button data-bind='enable: gifts().length > 0' type='submit'>Submit</button>

    <p>You have asked for <span data-bind='text: gifts().length'>&nbsp;</span> gift(s)</p>
    <table data-bind='visible: gifts().length > 0' class="ko-grid">
        <thead>
            <tr>
                <th>Gift name</th>
                <th>Price</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: gifts'>
            <tr>
                <td><input class='required' data-bind='value: name, uniqueName: true' data-val-required="The field is required." data-val="true" /></td>
                <td><input class='required number' data-bind='value: price, uniqueName: true' data-val-required="The field is required." data-val="true" />
                </td>
                <td><a href='#' data-bind='click: $root.removeGift'>Delete</a></td>
            </tr>
        </tbody>
    </table>
 
    
</form>

<script>
    var teams = @(Html.Raw(Json.Encode(Model.Teams)));
</script>
<form action='/someServerSideHandler' id="bar">
    <input type="hidden" id="CompetitionId" value="@Model.CompetitionId" />
    <input type="hidden" id="GymId" value="@Model.GymId" />

    <button data-bind='click: addTeam'>Register</button>
@*    <button data-bind='enable: gifts().length > 0' type='submit'>Submit</button>*@

    <p>You have asked for <span data-bind='text: teams().length'>&nbsp;</span> team(s)</p>
    <table data-bind='visible: teams().length > 0' class="ko-grid">
        <thead>
            <tr>
                <th>Gift name</th>
                <th>Price</th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: teams'>
            <tr>
                <td><input class='required' data-bind='value: name, uniqueName: true' /></td>
                <td><input class='required number' data-bind='value: price, uniqueName: true' /></td>
                <td><a href='#' data-bind='click: $root.removeGift'>Delete</a></td>
            </tr>
        </tbody>
    </table>
</form>