@model AllStarScore.Admin.ViewModels.RegistrationTeamsViewModel

@{ Html.RegisterStylesheet("~/content/styles/registration.teams.css"); }
@{ Html.RegisterScript("~/content/scripts/registration.teams.js"); }

<div id="team_registration">
    <form action='@Url.Action("Create", "Registration")' method="post" class="create">
        <fieldset>
            <legend>Register New Team</legend>
            
            <p>Register a new team for the competition</p>
            
            <div class="validation-summary-errors"></div>

            <table>
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Team name</th>
                        <th># of Participants</th>
                        <th>Show?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="division" class="required" autofocus="autofocus" data-bind='value: createNew.divisionName, ko_autocomplete: { source: divisions }'/></td>
                        <td><input type="text" name="name" data-bind='value: createNew.teamName'/></td>
                        <td><input type="text" name="participantCount" class="required number" data-bind='value: createNew.participantCount'/></td>
                        <td><input type="checkbox" name="isshowteam" data-bind='checked: createNew.isShowTeam'/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="submit" value="Register Team" /></td>
                        <td><a href="#" data-bind='click: resetCreateForm'>Reset</a></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

    <form action='@Url.Action("Edit", "Registration")' method="post" class="edit">
        <fieldset>
            <legend>Registered Teams</legend>
            <p><span data-bind='text: teams().length'>&nbsp;</span> team(s) registered with <span data-bind="text: totalParticipants"></span> participants</p>
            
            <div class="validation-summary-errors"></div>

            <table data-bind='visible: teams().length > 0'>
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Team name</th>
                        <th># of Participants</th>
                        <th>Show?</th>
                        <th />
                    </tr>
                </thead>
                <tbody data-bind='foreach: sortedTeams'>
                    <tr>
                        <td><input data-bind='value: divisionName, ko_autocomplete: { source: $root.divisions }, enable: $data.editing' name="division" class='required' type="text"/></td>
                        <td><input data-bind='value: teamName, enable: $data.editing' type="text" /></td>
                        <td><input data-bind='value: participantCount, enable: $data.editing' name="participantCount" class="required number" type="text" /></td>
                        <td><input data-bind='checked: isShowTeam, enable: $data.editing' type="checkbox" /></td>
                        <td>
                            
                            <a href='#' data-bind='click: $root.editTeam, visible: !$root.editing()'>Edit</a>
                            <a href='#' data-bind='click: $root.cancelEdit, visible: $data.editing'>Cancel</a>
                            <button data-bind='click: $root.save, visible: $data.editing'>Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

<script>
    var registrationTeamsData = {
        competitionId: '@Model.CompetitionId',
        gymId: '@Model.GymId',
        teams: JSON.parse('@Html.Raw(Model.Teams.ToJson())'),
        divisions: JSON.parse('@Html.Raw(Model.Divisions.ToJson())')
    };
</script>