@model AllStarScore.Scoring.ViewModels.ScoringFiveJudgePanelViewModel

@{
    ViewBag.Title = "Team Score Summary";
    Layout = "~/Views/Shared/_LayoutCompetition.cshtml";
}

@{ Html.RegisterStylesheet("~/content/styles/scoring.fivejudgepanel.css"); }
@{ Html.RegisterScript("~/content/scripts/scoring.fivejudgepanel.js"); }

<div id="scoring_fivejudgepanel" data-bind="with: $root.Scoring">
	<div data-bind="with: performance" class="header">
	    <div class="name">
	        <span data-bind="text: gym"></span>
	        <span data-bind="text: team"></span>
	    </div>
	    <div class="division">
	        <span data-bind="text: level"></span>
	        <span data-bind="text: division"></span>
	    </div>
	    <div data-bind="dateString: time, datePattern: 'ddd h:mm tt'" class="when"></div>     
	</div>
	        
	<!-- ko template: { name: 'all_star_template', data: getScoring(performance, panel) } --><!-- /ko -->
	    
	<form action='@Url.Action("MarkTeamDidCompete", "Scoring")' method="post" class="did_compete"  data-bind="visible: !performance.didCompete()">
	    <fieldset>
	        <legend>Did Not Compete</legend>
	        <div class="validation-summary-errors"></div>
	        <p>This team has been marked as<br />"Did Not Compete".</p>
	        <p>If the team is going to be able to compete, please click the button below.</p>
	
	        <button data-bind="click: markTeamDidCompete">The Team will Compete</button>
	    </fieldset>
	</form>
	
	<div class="final_score" data-bind="visible: performance.didCompete">
	    <table>
	        <tbody>
	            <tr>
	                <th>Average</th>
	                <td data-bind="text: panel.calculator.averagePanelScore.toFixed(3)"></td>
	            </tr>
	            <!-- ko with: getScoring(performance, panel) -->
	            <tr>
	                <th>Point Deductions</th>
	                <td data-bind="text: grandTotal['D'].toFixed(3)"></td>
	            </tr>
	            <tr>
	                <th>Safety Deductions</th>
	                <td data-bind="text: grandTotal['L'].toFixed(3)"></td>
	            </tr>
	            <!-- /ko -->
	            <tr>
	                <th>Final Score</th>
	                <td data-bind="text: panel.calculator.finalScore.toFixed(3)"></td>
	            </tr>
	        </tbody>
	    </table>
	        
	    <form action='@Url.Action("MarkTeamDidNotCompete", "Scoring")' method="post" class="did_not_compete" data-bind="visible: panel.calculator.scores.length == 0">
	        <fieldset>
	            <legend>Did Not Compete</legend>
	            <div class="validation-summary-errors"></div>
	            <button data-bind="click: markTeamDidNotCompete">The Team did not Compete</button>
	        </fieldset>
	    </form>
	        
	    <form action='@Url.Action("MarkTeamScoringComplete", "Scoring")' method="post" class="scoring_complete" data-bind="visible: panel.calculator.scores.length == 5 && !performance.scoringComplete()">
	        <fieldset>
	            <legend>Scoring Complete</legend>
	            <div class="validation-summary-errors"></div>
	            <button data-bind="click: markTeamScoringCompete">Scoring Complete</button>
	        </fieldset>
	    </form>
	</div>
	    
	<form action='@Url.Action("MarkTeamScoringOpen", "Scoring")' method="post" class="scoring_open"  data-bind="visible: performance.scoringComplete">
	    <fieldset>
	        <legend>re-open Scoring</legend>
	        <div class="validation-summary-errors"></div>
	        <p>This team has been marked as<br />"Scoring Complete".</p>
	        <p>If the score needs to be adjusted, please click the button below.</p>
	
	        <button data-bind="click: markTeamScoringOpen">Re-Open Scoring</button>
	    </fieldset>
	</form>

	<nav data-bind="with: performance, visible: !performance.scoringComplete() && performance.didCompete()">
        <ul data-bind="foreach: $parent.entryLinks">
            <li>
                <a data-bind="attr: { href: $root.Scoring.scoreEntryUrl.replace('REPLACE_THIS', $data) }">
                    <span data-bind="text: $root.Scoring.performance.panel"></span><span data-bind="text: $data"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div id="scoring_reports" data-bind="with: $root.ScoringReports">
	<table class="scoring">
		<colgroup>
			<col/>
		</colgroup>
		<!--ko foreach: panelJudges-->
		<colgroup>
			<col span="3"/>
			<col class="spacer"/>
		</colgroup>
		<!-- /ko -->
		<thead>
			<tr>
				<th></th>
				<!--ko foreach: panelJudges-->
				<th colspan="3" data-bind="text: $root.ScoringReports.panel + $data"></th>
				<th></th>
				<!-- /ko -->
			</tr>
			<tr>
				<th>Skills</th>
				<!--ko foreach: panelJudges-->
				<th>Base</th>
				<th>Exec</th>
				<th>Total</th>
				<th></th>
				<!-- /ko -->
			</tr>
		</thead>
		<tbody data-bind="foreach: categories">
			<tr>
				<td data-bind="text: display"></td>
				<!--ko foreach: scores-->
				<td data-bind="text: base.toFixed(1)" class="numeric"></td>
				<td data-bind="text: execution.toFixed(1)" class="numeric"></td>
				<td data-bind="text: total.toFixed(1)" class="numeric"></td>
				<td></td>
				<!-- /ko -->
			</tr>
		</tbody>
	</table>
    
	<div class="comments">
		<label>Comments</label>
		<!--ko foreach: comments-->
		<div class="comment">
			<label data-bind="text: $parent.panel + judgeId"></label>
			<pre data-bind="text: comment"></pre>
		</div>
		<!-- /ko -->
	</div>
</div>
<script>
    Input.scoreEntryUrl = '@Url.Action("ScoreEntry", "Scoring", new { performanceId = @Model.PerformanceId.ForScoringMvc(), judgeId = "REPLACE_THIS"})';
    Input.Scoring = JSON.parse(@(Html.EncodeAsJson(Model)));
</script>

<script type="text/html" id="all_star_template">
	<table class="score_summary">
		<thead>
			<tr data-bind="with: performance.panel">
				<th>Skills</th>
				<!-- ko foreach:  $parent.panelJudges -->
				<th><span data-bind="text: $parent"></span><span data-bind="text: $data.id"></span></th>
				<!-- /ko -->
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach: $data.categories -->
			<tr>
				<td data-bind="text: display"></td>
				<!-- ko foreach:  $parent.panelJudges -->
				<td data-bind="text: $parent.scores[$data.id].toFixed(1)"></td>
				<!-- /ko -->
			</tr>
			<!-- /ko -->
			<tr>
				<th>Total</th>
				<!-- ko foreach:  panelJudges -->
				<th data-bind="text: $parent.grandTotal[$data.id].toFixed(1)"></th>
				<!-- /ko -->
			</tr>
		</tbody>
	</table>
</script>