@model AllStarScore.Admin.ViewModels.GymCreateCommand

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a Gym</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSmallGym)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSmallGym)
            @Html.ValidationMessageFor(model => model.IsSmallGym)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    $.publish('/gym/create/form/loaded');
</script>