@model AllStarScore.Admin.ViewModels.CompetitionCreateCommand

@using (Html.BeginForm("Create", "Competition", FormMethod.Post, new { id="create_form" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CompetitionCreateInputModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstDay)
            @Html.ValidationMessageFor(model => model.FirstDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastDay, new {@class="date"})
            @Html.ValidationMessageFor(model => model.LastDay)
        </div>

        <p>
            <input type="submit" value="Create" />
            @Html.ActionLink("Cancel", "Index", "Competition", new { }, new {@class = "cancel"})
        </p>
    </fieldset>
}
<script>
    console.log('create form loaded');
    
    var form = $('#create_form');
    $('#FirstDay').pickDateBefore('#LastDay');

    $.publish('/create/form/loaded', '#' + form.attr('id'));
    $.validator.unobtrusive.parse(form);
    
    $('#create_form a.cancel').live('click', function (event) {
        event.preventDefault();
        form.remove();
    });
</script>