@model AllStarScore.Admin.ViewModels.CompetitionCreateInputModel

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CompetitionCreateInputModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstDay)
            @Html.ValidationMessageFor(model => model.FirstDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastDay, new {@class="date"})
            @Html.ValidationMessageFor(model => model.LastDay)
        </div>

        <p>
            <input type="submit" value="Create" />
            @Html.ActionLink("Cancel", "Index", "Competition", new { }, new {@class = "cancel"})
        </p>
    </fieldset>
}