@model AllStarScore.Admin.ViewModels.CompetitionDetailsViewModel

@{
    ViewBag.Title = "Competition Details";
}

@{ Html.RegisterStylesheet("~/content/styles/competition.details.css"); }
@{ Html.RegisterScript("~/content/scripts/competition.details.js"); }

<h2>Details for @Model.Competition.Name</h2>
<h3>@Html.DisplayFor(model => model.Competition.FirstDay, "Day")</h3>

<div class="summary">
    @Model.Stats.Count Gyms
    @Model.Stats.Sum(x => x.TeamCount) Teams
    @Model.Stats.Sum(x => x.ParticipantCount) Participants
    @Html.ActionLink("Schedule", "Edit", "Scheduling", new { id = Model.Competition.Id}, new { })
    @Html.ActionLink("Score Sheets", "Details", "ScoreSheets", new { id = Model.Competition.Id}, new { })
</div>
<br/><br/>
<div class="register">
    <div class="create_gym">
        @{ Html.RenderPartial("GymCreateHarness"); }
    </div>
    <div class="existing">
        @using (Html.BeginForm("Index", "Registration", FormMethod.Get)){
            @Html.Hidden("CompetitionId" , Model.Competition.Id)
            @Html.Hidden("GymId", -1)

            <p>
                <button type="submit">Register</button>
                <a href="#" class="cancel">Cancel</a>
            </p>
        }
    </div>
</div>
<br/><br/>
<div class="gyms">
    <table>
        <thead>
            <tr>
                <th>Gym</th>
                <th># Teams</th>
                <th># Participants</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gym in Model.Stats)
            {
                <tr>
                    <td>@gym.GymName</td>
                    <td>@gym.TeamCount</td>
                    <td>@gym.ParticipantCount</td>
                    <td>@Html.ActionLink("edit", "Index", "Registration", new { gym.CompetitionId, gym.GymId }, new { })</td>
                </tr>
            }
        </tbody>
    </table>
</div>