@model AllStarScore.Admin.ViewModels.CompetitionListViewModel

<p>
    @Html.ActionLink("Create New Competition", "Create", "Competition", new {id="createlink"})
</p>
<div id="create"></div>
<script type="text/javascript">
    var onSuccess = function (result) {
        // enable unobtrusive validation for the contents
        // that was injected into the <div id="create"></div> node
        $.validator.unobtrusive.parse($('#create'));
        $('#create .datepicker').datepicker();
    };

    $(document).ready(function () {
        $('#createlink').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: this.href,
                type: 'get',
                success: function (result) {
                    $('#create').html(result);
                    onSuccess(result);
                }
            });
            return false;
        });
    });
</script>

Upcoming
<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.Upcoming) {
    <tr>
        <td>
            @item.Name 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
    <tr><td>A competition</td><td>edit</td></tr>
    <tr><td>B competition</td><td>edit</td></tr>
    <tr><td>C competition</td><td>edit</td></tr>

</table>

Past
<table>
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.Past) {
        <tr>
            <td>
                @item.Name 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    <tr><td>1 competition</td><td>edit</td></tr>
    <tr><td>2 competition</td><td>edit</td></tr>
    <tr><td>3 competition</td><td>edit</td></tr>

</table>