@using AllStarScore.Extensions;
@model dynamic

@using System.Web.UI.WebControls
@{
    Layout = "_Layout.cshtml";
    var id = @Model.CompetitionId as string;
}

@{ Html.RegisterStylesheet("~/content/styles/competitionlayout.wrap.css"); }

<script>
    window.AllStarScore = { };
    window.Input = {};

    function NormalizeLineEndings(data) {
        //http://stackoverflow.com/questions/395379/problem-when-retrieving-text-in-json-format-containing-line-breaks-with-jquery
        data = data.replace(/\r\n/g, '\\n');
        data = data.replace(/\r/g, '\\n');
        data = data.replace(/\n/g, '\\n');

        return data;
    }
</script>

<div class="competition_header">
    <h2>@ViewBag.Title</h2>

    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Performances", "Index", "Performance", new { id = id.ForScoringMvc() }, new { })</li>
            <li>@Html.ActionLink("Score Sheets", "Index", "ScoreSheets", new { id = id.ForScoringMvc() }, new { })</li>
            <li>@Html.ActionLink("Reports", "Index", "Reporting", new { id = id.ForScoringMvc() }, new { })</li>
        </ul>
    </nav>
</div>

@RenderBody()

@*https://github.com/janjongboom/Moth/issues/19#issuecomment-6504322*@
@using(Html.BeginScript(ScriptPositionEnum.EndOfPage)) { 
    <text>
    $(document).ready(function () { 
		ko.applyBindings(window.AllStarScore);
        console.log(window.AllStarScore);
    });
    </text>
}


@*<pre data-bind="text: ko.toJSON($root, null, 2)" class="ko_output"></pre>*@